@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&family=Playfair+Display:ital@1&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Major Mono Display", monospace;
  color: #252627;
  background-color: #f2efe9;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.page-container header {
  flex-direction: column;
  width: 95%;
  margin: 2rem 4rem 0 4rem;
  justify-content: space-evenly !important;
}
.page-container main {
  width: 100%;
  margin-bottom: 3rem;
}
.page-container footer {
  width: 100vw;
  color: #f2efe9;
  background-color: #252627;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.3rem;
  font-size: 0.9rem;
}
.page-container footer .daily-quote {
  font-family: "Playfair Display", serif;
  width: 33%;
  margin: 1rem 0;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.welcome-title {
  max-width: 1280px;
  padding: 1.5rem;
}

.welcome {
  font-size: 3rem;
  animation: 2s ease-out 2s normal forwards title-highlight;
}

@keyframes title-highlight {
  0% {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #734e57 50%);
    background-position: 0% 0;
    background-size: 200% 100%;
  }
  50% {
    color: rgba(242, 239, 233, 0.9);
  }
  100% {
    background-image: linear-gradient(to right, #734e57 50%, #734e57 50%);
    background-position: -199.99% 0;
    color: #f2efe9;
  }
}
.plain-text {
  font-family: "Montserrat", sans-serif;
}

.profile-photo {
  border-radius: 50%;
  border: 1px solid #252627;
}

.page-nav {
  display: flex;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 16rem !important;
  flex-wrap: wrap !important;
  border: 1px solid;
}
.page-nav li {
  padding: 0;
}
.page-nav li a {
  display: flex;
  cursor: pointer;
  text-align: center;
  width: 5rem;
  padding: 0.5rem 1.4rem;
  color: #252627;
  text-decoration: none;
}
.page-nav li a:active {
  background-color: #564e58;
  color: #f2efe9;
}
.page-nav li a:hover {
  background-color: #734e57;
  color: #f2efe9;
  transform: scale(1.2);
}

.social-tags {
  display: flex;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.social-tags li {
  padding: 0.3rem;
}
.social-tags li a {
  transition: all 0.2s ease-in-out;
  color: #f2efe9;
  color: #ece5e0;
}
.social-tags li a:active {
  background-color: black;
  color: white;
}
.social-tags li a:hover {
  transform: scale(1.2);
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .page-container header, .page-container footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  header {
    padding-top: 10rem;
  }

  .page-nav {
    width: auto !important;
    flex-wrap: nowrap !important;
    border-radius: 50px;
  }

  .daily-quote {
    margin: 1rem;
  }

  .about:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .study:hover {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
